ol,ul { list-style:none; }
body {
	background: #e3e3e3;
	color: #303030;
	line-height:1;
}
#page {
	padding: 2em 0;
}
.inner {
	margin: 0 auto;
	width: 93.75%;		/* 960px / 1024px */
}
nav {
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
}
nav ul a {
	color: #303030;
}

.footer {
	font-size: 12px;
	text-align: center;
	padding: 40px 0 20px;
}
.footer p {
	margin-bottom: 0.5em;
}
	.intro {
		margin-top: 1em;
	}